<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="name">欢迎入职</title>
</head>
<body>
<table>
    <tr>
        <td>工号：</td>
        <td th:text="workId"></td>
    </tr>
    <tr>
        <td>姓名：</td>
        <td th:text="name"></td>
    </tr>
    <tr>
        <td>性别：</td>
        <td th:text="gender"></td>
    </tr>
    <tr>
        <td>部门：</td>
        <td th:text="department"></td>
    </tr>
    <tr>
        <td>职位：</td>
        <td th:text="position"></td>
    </tr>
</table>
</body>
</html>